@font-face{
    font-family: wuwu;
    src: url(font/锐字奥运精神夺冠简免费\(REEJI-DuoguanGB-free\).ttf);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;

    font-family: wuwu;
}
html,body{
    height: 100%;
    background: #ddeff6;
}
section{
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    background: url(img/bj.png);
    display: flex;
    min-height: 100%;
    justify-content: space-around;
    align-items: center;
    /* border: black 2px solid; */

}
.left {
    width: 60%;
    /* height: 100%; */
}
.left ul {
    width: 100%;
    height: 100%;
}
.left ul li{
    width: 50%;
    height: 100vh;
    
    transform: translate(0,-100%);
    animation: run2 2s forwards;
}

@keyframes run2 {
    0%{
        transform: translate(0,-100%);
    }
    100%{
        transform: translate(0,0);
    }
}

.left .bagcolor{
    background: rgb(200, 195, 160);
}
.Cored{
    background: #f04a3a;
    opacity: 0.8;
}
.Coblue{
    background: #1661ab;
    opacity: 0.8;
}
.Cogreen{
    background: #1ba784;
    opacity: 0.8;
} 
.Coyellow{
    background: #feba07;
    opacity: 0.8;
}               
.Copurple{
    background: #c08eaf;
    opacity: 0.8;
} 
.Cowhite{
    background: rgba(216, 227, 231, 0.8);
}
.left img{
    height: 99%;
    /* width: 160%; */
}

.right{
    width: 40%;
    height: 100vh;
    /* float: right; */
    /* box-sizing: border-box; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.right header{
    width: 90%;
    line-height: 75px;
    margin: 0 auto;
}
.right header nav{
    animation: Rrun 1s;
    width: 75px;
    height: 75px;
    border-radius: 70px;
    float: right;
    transition: all 1.5s ease-in-out;
}
@keyframes run{
    
    0%{
        width: 75px;
    }
    100%{
        width: 90%;
    }
}
@keyframes Rrun{
    0%{
        width: 90%
    }
    100%{
        width: 75px;
    }
}
.right header nav:hover{
    transition: all 0.5s ease-in;
    animation: run 1s forwards;
    background: rgb(202, 200, 183);
}
.right header .icon-caidan{
    float:right;
    margin-right: 15px;
    color: #5a5a15;
    font-size: 40px;
    
}
.right h1{
    /* flex: 1; */
    /* text-align: center; */
    font-size: 75px;
    font-style: italic;
    color:#1f318b;
    font-weight: normal;
}
h1:hover{
    animation: run3 1s infinite;
    cursor:pointer;
}
@keyframes run3{
    0%{
        text-shadow: 10px 12px 3px skyblue;
    }
    25%{
        text-shadow: 12px -16px 5px #0f59a4;
    }
    50%{
        text-shadow: 15px 5px 5px #2e317c;
    }
    75%{
        text-shadow: 5px -3px 5px #d3e1e9;
    }
    100%{
        text-shadow: -9px 5px 5px #f9b907;
    }
}
.right ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* transform: translate(0,500px); */
}

.right li{
    padding: 10px;
    margin: 20px;
    background: rgb(220, 223, 226);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-sizing:border-box;  /*怪异盒 */
}

.right img{
    width: 100%;
}




.active{
    /* background: rgb(237, 236, 203) !important; */
   border: 2px solid black;
}




